<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bullying_type.name %>
</p>

<%= link_to 'Edit', edit_bullying_type_path(@bullying_type) %> |
<%= link_to 'Back', bullying_types_path %>
